/* css used for the whole website except header and footer */

body 
{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    position: relative;
}

.content
{
    padding-bottom: 40px;
}

.page-title
{
    text-align: center;
}

.form-div form 
{
    background-color: white;
    padding:15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 20px;
    text-align: center;
    /* border: 3px #333 solid; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#register-form input, #login-form input, .account-form input, input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition-duration: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#register-form input:focus, #login-form input:focus, .account-form input:focus, input[type=text]:focus
{
    outline: none;
    transition-duration: 1s;
    box-shadow: rgba(100, 100, 111, 0) 0px 0px 0px 0px;
}

#register-form button, #register-form input[type=submit], #login-form button, .account-form button, input[type=submit]
{
    background-color: rgb(132, 198, 239);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 1s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#register-form button:hover, #login-form button:hover, .account-form button:hover, input[type=submit]:hover
{
    /* background-color: rgb(111, 165, 199); */
    transition-duration: 1s;
    box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;

}

#checkbox-remember
{
    margin-bottom: 10px;
}

.session-alert
{
    background-color: rgb(77, 222, 133);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.alert
{
    background-color: rgb(235, 114, 114);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 75%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.alert p
{
    margin-top: 0px;
}

#assemblyUp
{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#picContainer
{
    width: auto;
    height: auto;
    margin: 10vh;
    border: none;
}

#videoFeed
{
    width: 30vw;
    height: 30vw;
    position:relative;
    object-fit: fill;
}

#filterContainer
{
    height: 70vh;
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#assemblyUp h5
{
    margin: 1vh;
    text-align: center;
}

#picResultZone
{
    width: 150px;
    height: 70vh;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#picResults
{
    width: 118px;
    height: 65vh;
    margin-left: 25px;
    margin-top: 10px;
    overflow: auto;
}

.assemblyResultImage
{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.deleteImageButton
{
    float: right;
    position: relative;
    background-color: rgb(232, 89, 89);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: white;
    cursor: pointer;
}

#outputImage
{
    width: 30vw;
    height: 30vw;
    border: none;
}

#picUp
{
    margin: 5px auto;
    margin-top: 10px;
    margin-left: 0;
    width: 30vw;
    background-color: rgb(132, 198, 239);
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 1s;
}

#picUp:hover
{
    background-color: rgb(132, 239, 169);
    transition-duration: 1s;
    box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
}

#filters
{
    width: 140px;
    height: 65vh;
    margin-left: 10px;
    margin-top: 10px;
    overflow: auto;
}

.filterClass
{
    width: 125px;
    height: 125px;
    margin-top: 10px;
    overflow: scroll;
    transition-duration: 1s;
}

.filterClass:hover
{
    width: 100px;
    height: 100px;
    transition-duration: 1s;
}

#positionnedFilter
{
    width: 30vw;
    height: 30vw;
    margin-top: -30vw;
    z-index:300000;
    position:absolute;
    text-align:center;
}

#galleryZone
{
    /* background-color: olive; */
    /* height: 80%; */
    margin: 20px;
}

.galleryBox
{
    background-color: white;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.commentBox
{
    max-height: 10vw;
    width: auto;
    height: auto;
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition-duration: 1s;
}

.commentBox:hover
{
    box-shadow: rgba(100, 100, 111, 0) 0px 7px 29px 0px;
    transition-duration: 1s;
}

.galleryPic
{
    height: 25vw;
    width: 25vw;
    margin: 2.5vw;
}

.galleryInfoBox
{
    margin: auto;
    height: 35vw;
    width: 55vw;
    border-radius: 40px;
    text-align: center;
}

.commentBoxTitle
{
    margin: 2px;
}

.galleryInfoBox p
{
    margin: 5px;
}

.thumbUp
{
    height: 50px;
    width: 50px;
    padding: 0px;
    background-image: url("/../filters/like.png");
    background-color: transparent;
    border: none;
}

.thumbForm
{
    height: 60px;
    padding: 10px;
}

.thumbPic
{
    height: 50px;
    margin: 0px;
}

.commentTextBar
{
    width: 34vw;
    margin: 5px;
}

.commentPseudo
{
    font-style: italic;
    font-size: 12px;
}

.commentComment
{
    margin-bottom: 10px;
}

#paginationButtons
{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.pageLink {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.pageLinkActive {
    background-color: #ff3300;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pageLink:hover
{
    background-color: rgb(187, 187, 187);
}

#index-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

hr.solid {
    border-top: 3px solid #bbb;
}